* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
    background-color: #0f172a;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #1a2338;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

nav ul li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: 0.3s;
    position: relative;
    text-align: center;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #60a5fa;
    transition: 0.3s;

}

nav a:hover::after {
    width: 100%;
}

nav a:hover {
    color: #60a5fa;
}